<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delius&family=Economica:wght@400;700&family=Mr+Dafoe&display=swap" rel="stylesheet">
    <title>Admin {%block title%}{%endblock%}</title>
    <link rel="icon" type="image/x-icon" href="{%static 'favicon.ico' %}">
    <link rel="stylesheet" href="{%static 'admin.css'%}">
</head>

<body>
<header class="">
    <div class="group">
        <img class="" id="menu" src="{%static 'menu.png'%}" alt="">
    <a id="brand" class="title bebas" href="{%url 'store_admin:dashboard'%}">
            Foodie's Admin
    </a>
    </div>
    <div class="dafoe welcome">Welcome
        {{request.user}}
    </div>
    <div class="econo" id="date">Date: {{date}}</div>
</header>
    <nav id="navbar" class="econo">
        <a class="menu-item" href="{%url 'store_admin:all_items'%}">
            <img class="menu-icons" width="40px" src="{%static 'platter.png'%}" alt=""><span>Items</span>
        </a>
        <a class="menu-item" href="{%url 'store_admin:all_categories'%}">
            <img class="menu-icons" width="40px" src="{%static 'fast-food.png'%}" alt=""><span>Categories</span>
        </a>
        <a class="menu-item" href="{%url 'store_admin:view_orders'%}">
            <img class="menu-icons" width="40px" src="{%static 'clock.png'%}" alt=""><span>Orders</span>
        </a>
        <a class="menu-item" href="{%url 'store_admin:sales_today'%}">
            <img class="menu-icons" width="40px" src="{%static 'hot-sale.png'%}" alt=""><span>Sales</span>
        </a>
        <a class="menu-item logout" href="{%url 'accounts:logout'%}">
            <img class="menu-icons" width="40px" src="{%static 'logout.png'%}" alt=""><span>Logout</span>
        </a>
    </nav>
<div class="">
    <div class="">
    {% if messages %}
    <ul id="messages" class="">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} message"
            {% endif %} id="message{{message.id}}">
            {{ message }}

        </li>
        {% endfor %}
        <span id="message-close"><img
                class=""
                width="40px" src="https://cdn-icons-png.flaticon.com/512/1828/1828666.png" alt="close"></span>
    </ul>
    {% endif %}
</div>
<div class="add-buttons econo">
    <div class="">
        <a class="button"
           href="{%url 'store_admin:item_add'%}">+ Add Item</a>
        <a class="button"
           href="{%url 'store_admin:category_add'%}">+ Add Category</a>
    </div>
</div>
</div>
<div class="container">
{%block content%}

{%endblock%}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
        $(document).ready(function () {
            $('#menu').on('click', function () {
                console.log("menu clicked!")
                $('#navbar').toggleClass("active");
            });
             $('#message-close').click(function(){
                $('#messages').fadeOut(500, function() { $(this).remove(); });
                $('#message-close').fadeOut(500, function() { $(this).remove(); });
            })
        })
</script>
</body>

</html>