<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin {%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'admin.css'%}">
</head>

<body>
    <header
        class="bg-orange-500 text-white p-4 text-3xl font-light text-center flex justify-around items-center fixed top-0 z-10 w-full shadow-md shadow-orange-900">
        <img class="hover:scale-105 ease-out duration-300" id="menu" src="{%static 'menu.png'%}" alt="">
        <a href="{%url 'store_admin:dashboard'%}"><div class="self-center mx-auto"><span class="">Foodie's
                <span class="font-bold my-auto">Admin</span></span></div></a>
        <div class="hidden md:inline mx-auto text-orange-900 bg-white p-2 rounded-xl font-semibold">Welcome {{request.user}}</div>
        <div class="hidden md:inline">Todays's Date</div>
    </header>
    <div id="navbar" class="absolute top-16 -translate-x-48 ease-in duration-300 h-screen text-center shadow-xl shadow-orange-900 bg-orange-300">
        <nav class="flex flex-col pt-8">
            <a class="px-2 py-4 w-48 bg-orange-400 text-white hover:bg-orange-600 ease-in-out duration-200" href="{%url 'store_admin:all_items'%}"><img
                    class="inline-flex" width="40px" src="{%static 'platter.png'%}" alt="">Items</a>
            <a class="px-2 py-4 w-48 bg-orange-400 text-white hover:bg-orange-600 ease-in-out duration-200" href=""><img
                    class="inline-flex" width="40px" src="{%static 'fast-food.png'%}" alt="">Categories</a>
            <a class="px-2 py-4 w-48 bg-orange-400 text-white hover:bg-orange-600 ease-in-out duration-200" href=""><img
                    class="inline-flex" width="40px" src="{%static 'clock.png'%}" alt="">Orders</a>
            <a class="px-2 py-4 w-48 bg-orange-400 text-white hover:bg-orange-600 ease-in-out duration-200" href=""><img
                    class="inline-flex" width="40px" src="{%static 'price-tag.png'%}" alt="">Special</a>
            <hr>
            <hr>
            <a class="px-1 py-4 w-48 bg-red-600 text-white hover:bg-rose-500 ease-in-out duration-200"
                href="{%url 'accounts:logout'%}"><img class="inline-flex" width="40px" src="{%static 'logout.png'%}" alt="">Logout</a>
        </nav>
    </div>
    {%block content%}

    {%endblock%}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#menu').on('click', function () {
                $('#navbar').toggleClass('-translate-x-48');
            })
        })
    </script>
</body>

</html>