{%extends 'store_admin/admin_base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
<div class="">
    <h2 class="title">{{title}}</h2>
    <div class="objects">
        {% for category in categories %}
        <div class="card">
            <img class="card-img"
                 src="{{category.cover.url}}"
                 alt="">
            <div class="card-details">
                <h2 class="">{{category.name}}</h2>
                <p class="">{{category.description}}</p>
                <div class="add-buttons">
                    <a class="update button"
                       href="{%url 'store_admin:category_update' category.slug %}">Update</a>
                    <form action="{%url 'store_admin:category_delete'%}" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="category_id" value="{{category.id}}">
                        <input type="submit"
                                class="delete button" value="Remove">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}