{%extends 'store_admin/admin_base.html'%}
{%block title%}Dashboard{%endblock%}
{%block content%}
    <div class="">
        <div class="">
            <h2 class="">
                Orders in Queue
            </h2>
            <h3>Total Incomplete orders {{total_incomplete_orders}}</h3>
            <hr>
            {%for order in orders%}
            Order ID: {{order.0.id}}
            <table>
                <tr>
                    <th class="name">Item</th>
                    <th class="qnty">Qnty</th>
                    <th class="price">price</th>
                </tr>
                {%for item in order.1%}
                <tr>
                    <td class="name">{{item.item.name}}</td>
                    <td class="qnty">{{item.quantity}}</td>
                    <td class="price">{{item.price}}</td>
                </tr>
                {%endfor%}
            </table>
            {%endfor%}

        </div>
        <div class="">
            <h2 class="">
                Sales Today
            </h2>
            {{total_sales}}
            <hr>


        </div>

    </div>


{%endblock%}