{%extends 'base.html'%}
{%block title%}{%endblock%}
{%block content%}
    <div class="form-wrapper">
        <div class="">
            <h1 class="title">Sign In</h1>
            <form action="{%url 'accounts:sign_in'%}" method="post"
                class="form">
                {%csrf_token%}
                <input class="" type="text" name="username"
                    id="username-input" placeholder="Username" required>
                <input class="" type="password" name="password"
                    id="password-input" placeholder="Password" required>
                <input class="submit-btn" type="submit"
                    value="Log In">
            </form>
        </div>
        <img class="form-img" src="https://images.unsplash.com/photo-1657047404697-abec483f168d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    </div>
{%endblock%}