{%extends 'base.html'%}
{%block title%}{{title}}{%endblock%}

{% block content %}
 <h1 class="title">{{title}}</h1>
        <div class="items">
            {% for category in categories %}

            <a class="card" href="{{category.get_absolute_url}}">
                <div class="">
                    <img class="card-img" src="{{category.cover.url}}" alt="">
                    <div class="card-details">
                        <h2 class="">{{category.name}}</h2>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
{% endblock content %}