{%extends 'base.html'%}
{%load static%}
{%block title%}{{item.name}}{%endblock%}

{%block content%}

<h1 class="text-3xl text-center">{{title}}</h1>

<div class="flex flex-col lg:flex-row justify-around border-2 border-orange-200 rounded-lg m-2 lg:mx-auto lg:w-1/2">
    <img class="m-2 rounded-lg lg:object-cover lg:w-96" src="{{item.cover.url}}" alt="">
    <div class="mx-2 text-justify relative">
        <h2 class="text-xl mt-12">{{item.name}}</h2>
        <p class="font-thin lg:my-12">Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas
            eligendi tempora reiciendis explicabo laborum fugit modi sunt. Provident nam atque quaerat neque mollitia
            omnis praesentium placeat minus alias soluta.</p>
        <div class="text-lg my-2">Price: ₹ <span class="text-black font-bold">{{item.price}}</span></div>
        <label for="quantity{{item.id}}"></label>
        {%if user.is_authenticated%}
        <select class="p-4   m-2" name="quantity" id="quantity{{item.id}}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button class="rounded-lg bg-blue-500 text-white p-3 my-3 hover:bg-blue-600" id="add-button"
                value="{{item.id}}">Add to Bag
        </button>
        {%else%}
        <div>Login to order <a class="text-orange-400 border-2 border-orange-500 p-1 m-1" href="{%url 'accounts:sign_in'%}">Login</a></div>
        {%endif%}
    </div>
</div>
{%endblock%}
{%block script%}
<!--add-->
 $(document).on('click', '#add-button', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "orders:bag_add" %}',
        data: {
          item_id: $('#add-button').val(),
          quantity: $("#quantity" + {{item.id}} + " option:selected").text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          document.getElementById("bag-quantity").innerHTML = json.quantity
          document.getElementById("subtotal").innerHTML = json.subtotal;
        },
        error: function (xhr, errmsg, err) {}
      });
    })
{%endblock%}
