{%extends 'base.html'%}
{%load static%}
{%block title%}{{item.name}}{%endblock%}

{%block content%}

<h1 class="title">{{title}}</h1>

<div class="">
    <img class="card-img" src="{{item.cover.url}}" alt="">
    <div class="card-details">
        <h2 class="item-name">{{item.name}}</h2>
        <p class="item-description">Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas
            eligendi tempora reiciendis explicabo laborum fugit modi sunt. Provident nam atque quaerat neque mollitia
            omnis praesentium placeat minus alias soluta.</p>
        <div class="item-price">Price: Rs. <span class="">{{item.price}}</span></div>
        <label for="quantity{{item.id}}"></label>
        {%if user.is_authenticated%}
        <select class="" name="quantity" id="quantity{{item.id}}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button class="" id="add-button"
                value="{{item.id}}">Add to Bag
        </button>
        {%else%}
        <div>Login to order <a class="capsule blue" href="{%url 'accounts:sign_in'%}">Login</a></div>
        {%endif%}
    </div>
</div>
{%endblock%}
{%block script%}
<!--add-->
 $(document).on('click', '#add-button', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "orders:bag_add" %}',
        data: {
          item_id: $('#add-button').val(),
          quantity: $("#quantity" + {{item.id}} + " option:selected").text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          document.getElementById("bag-quantity").innerHTML = json.quantity
          document.getElementById("subtotal").innerHTML = json.subtotal;
        },
        error: function (xhr, errmsg, err) {}
      });
    })
{%endblock%}
