{%extends 'base.html'%}
{%block title%}{{title}}{%endblock%}

{% block content %}
        <h1 class="title">{{title}}</h1>
        <div class="items">
            {% for item in items %}

            <a class="card" href="{{item.get_absolute_url}}">
                <div class="">
                    <img class="card-img" src="{{item.cover.url}}" alt="">
                    <div class="card-details">
                        <h2 class="item-name">{{item.name}}</h2>
                        <div class="">{{item.category}}</div>
                        <div class="item-price">Rs. {{item.price}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endblock content %}