{%extends 'base.html'%}
{%block title%}Bag Summary{%endblock%}
{%block content%}
<div class="lg:mx-10">
    <h2 class="text-center text-4xl my-5">Your Bag</h2>
    <div class="text-center">
        <button
                class="rounded-xl my-5 px-4 py-3 text-slate-600 hover:text-white border-2 border-slate-600 hover:bg-slate-600 hover:shadow-md hover:shadow-slate-600 ease-in-out duration-150 text-xl" id="clear-button">
            Clear
            Bag
        </button>
    </div>
    <div class="flex flex-col justify-center items-center px-3">
        {% for item in bag %}
        {%with product=item.item%}
        <div
                class="product-card flex justify-around items-center border-2 border-orange-300 rounded-lg mx-3 my-2 p-1  hover:shadow-sm hover:shadow-orange-500 hover:scale-105 ease-in-out duration-200 md:w-96"  data-index="{{product.id}}" id="{{product.id}}">
            <img class="object-cover w-36 h-36 rounded-xl mx-3" src="{{product.cover.url}}" alt="">
            <div class="">
                <div class="text-xl">{{product.name}}</div>
                <div class="">{{product.category}}</div>
                <div class="text-black">Price: {{product.price}}</div>
                <div class="buttons">
                    <label for="quantity{{product.id}}">Qnty</label>
                    <select class="m-2" name="quantity" id="quantity{{product.id}}">
                        <option value="{{item.quantity}}" selected hidden>{{item.quantity}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <div>
                        <button id="update-button"
                                class="border-2 border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white px-2 py-1 rounded-xl m-2 ease-in-out duration-150" data-index="{{product.id}}">
                            Update
                        </button>
                        <button id="remove-button"
                                class="border-2 border-red-600 text-red-600 hover:bg-red-600 hover:text-white px-2 py-1 rounded-xl m-2 ease-in-out duration-150" data-index="{{product.id}}">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {%endwith%}
        {% endfor %}
        <div class="mx-auto border-2 border-orange-300 rounded-lg p-3 my-4" >Total: <span id="subtotal">{{bag.get_subtotal}}</span></div>
        {%if user.is_authenticated%}
        <div class="my-5"><a class="bg-blue-500 text-white py-3 px-4 " href="{%url 'payment:create_payment'%}">Pay</a></div>
        {%endif%}
    </div>

</div>

{%endblock%}
{%block script%}
    <!--delete-->

 $(document).on("click", "#remove-button", function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_delete" %}',
      data: {
        item_id: $(this).data("index"),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $('#'+item_id).remove();
        if (json.quantity == 0) {
          subtotal = 0
        } else {
          subtotal = json.subtotal
        }

        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
      },
      error: function (xhr, errmsg, err) {},
    });
  });

<!--update-->

 $(document).on("click", "#update-button", function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_update" %}',
      data: {
        item_id: $(this).data("index"),
        quantity: $("#quantity" + item_id + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);

      },
      error: function (xhr, errmsg, err) {},
    });
  });

<!--clear bag-->
$(document).on("click", "#clear-button", function (e) {
    e.preventDefault();
    $.ajax({
    url: '{%url 'orders:bag_clear'%}',
    type: 'GET',
  success: function(json) {
        $('.product-card').remove();

        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
      },
      error: function (xhr, errmsg, err) {},
    });
  });



  {%endblock%}