{%extends 'base.html'%}
{%block title%}Bag Summary{%endblock%}
{%block content%}
<div class="bag-summary">
  <div class="row">
    <h2 class="title">Your Bag</h2>
        <span id="clear-button"
                class="bag-btn">
            Clear Bag
    </span>
    </div>
    <div class="inbag-items">
        {% for item in bag %}
        {%with product=item.item%}
        <div data-index="{{product.id}}" id="{{product.id}}"
                class="bag-item">
            <img class="bag-item-img" src="{{product.cover.url}}" alt="">
            <div class="bag-item-details">
                <div class="row">
                  <div class="bag-item-name">{{product.name}}</div>
                  <div class="bag-item-data">{{product.category}}</div>
                  <div class="bag-item-data">Price: {{product.price}}</div>
                </div>
                <div class="row">
                    <div class="">
                      <label for="quantity{{product.id}}">Qnty</label>
                    <select class="select-btn" name="quantity" id="quantity{{product.id}}">
                        <option value="{{item.quantity}}" selected hidden>{{item.quantity}}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    </div>
                        <div id="update-button" class="btn lightgreen"
                                class="" data-index="{{product.id}}">
                            Update
                        </div>
                        <div id="remove-button" class="btn red"
                                class="" data-index="{{product.id}}">
                            Remove
                        </div>
                </div>
            </div>
        </div>
        {%endwith%}
        {% endfor %}
        <div class="total pay" >Total Amount: <span id="subtotal">{{bag.get_subtotal}}</span></div>
        <div class="total items" >Total Items: <span id="bag-quantity">{{quantity}}</span></div>
        {%if user.is_authenticated%}
        <a class="submit-btn pay" href="{%url 'payment:create_payment'%}">Pay</a>
        {%endif%}
    </div>

</div>

{%endblock%}
{%block script%}
    <!--delete-->

 $(document).on("click", "#remove-button", function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_delete" %}',
      data: {
        item_id: $(this).data("index"),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $('#'+item_id).remove();
        if (json.quantity == 0) {
          subtotal = 0
        } else {
          subtotal = json.subtotal
        }

        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
      },
      error: function (xhr, errmsg, err) {},
    });
  });

<!--update-->

 $(document).on("click", "#update-button", function (e) {
    e.preventDefault();
    var item_id = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "orders:bag_update" %}',
      data: {
        item_id: $(this).data("index"),
        quantity: $("#quantity" + item_id + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);

      },
      error: function (xhr, errmsg, err) {},
    });
  });

<!--clear bag-->
$(document).on("click", "#clear-button", function (e) {
    e.preventDefault();
    $.ajax({
    url: '{%url 'orders:bag_clear'%}',
    type: 'GET',
  success: function(json) {
        $('.bag-item').remove();

        $("#bag-quantity").replaceWith(json.quantity);
        $("#subtotal").replaceWith(json.subtotal);
      },
      error: function (xhr, errmsg, err) {},
    });
  });



  {%endblock%}